/*-------------------------------Login page ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.background {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background: #FAFAFA 0% 0% no-repeat;
    min-height: 100vh;

}

.login-form {
    width: min(429px, 100%);
}

.img {
    width: 100%;
    height: 100%;
    background: transparent url('img/Ellipse 2.png') no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border-radius: 50%;
    border: 20px solid #FFFFFF;
}

.headertext {
    height: 100%;
    font-size: 40px;
    font-weight: 300;
    color: #3E3E3E;
}

.logintxt {
    font-size: 25px;
    font-weight: 400;
    color: #3E3E3E;
}

.redtxt {
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    color: #C8242F;
}

.login-btn {
    background-color: #C8242F;
    border-radius: 20px;
    padding: 1% 5%;
    color: white;
    font-weight: 500;
    border: 0;
}

.forgotpass {
    padding-left: 10%;
    width: 100%;
    font-size: 15px;
    color: #ADADAD;
}

.mem {

    text-align: left;
    font-size: 15px;
    color: #ADADAD;
}

.registerhere {

    text-align: left;
    font-size: 16px;
    color: #C8242F;
}


/* ----------------------------------Responsive Login Page CSS--------------------------- */
@media (max-width:992px) {
    .headertext {
        font-size: 30px;
    }

    .redtxt {
        font-size: 30px;
        font-weight: 700;
    }
}

@media (max-width:600) {
    .headertext {
        font-size: 25px;
    }

    .redtxt {
        font-size: 25px;
        font-weight: 500;
    }
}


/* ----------------------------------Dashboard CSS--------------------------- */
.backgrow {
    background-color: #FAFAFA;
}

.headerdashboard {
    padding-top: 1%;
    padding-bottom: 1%px;
    display: flex;
    display: inline;
    background-color: #ffffff;
}

.menubar {
    margin-left: 29px;
}

.logo {
    margin-left: 25px;
}
.smalllogo{
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

.searchicon {
    margin-left: 2%;
}

.input {
    margin-left: 1%;
    border-color: #FFFFFF;
}

.searchbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
}

.alarm {
    margin-left: auto;
    margin-right: 2%;
}

.profile {
    margin-right: .5%;

}

.name {
    margin-right: .5%;
    color: #000000;
    text-decoration: underline white;

}

.arrow {
    margin-right: 2%;
}



/* --------------------------------------------------Left Menu Dashboard---------------------------------------- */


.content {
    width: 242px;
    /* display: flex; */
}

.lm {
    height: 1279px;
    font-size: 15px;
    /* display: flex; */
    align-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
    align-content: space-between;
    background-color: #ffffff;
}

ul img {
    width: 25px;
    height: 25px;
}
ul a li img:hover {
    background-color: #ffffff;
}
span {
    font-size: 20px;
    text-decoration: underline white;
    padding: 10px 30px 10px 10px;
    color: #000000;
}

.list-unstyled {
    margin-left: 30px;
}

.list-unstyled a li {
    margin-top: 20px;
}

.list-unstyled a li {
    position: relative;
}

.list-unstyled a span:hover {
    background-color: #FFF3F4;
    border-radius: 8px;
    text-decoration: underline #FFF3F4;
    color: #C8242F;
}




/* ------------------------------------------------------Main content-------------------------------------------- */
.main {
    margin-left: 50px;
}

.maintext {
    margin-top: 40.75px;
    margin-left: 0px;
    font-size: 30px;
    color: #000000;
}

.newpdct img{
    width: 33.33px;
}
.newpdct{
    width:20%;
    background-color: #ffffff;
}
.pallate {
    display: flex
}

.graphs {
    display: flex;
}

.sales {
    width: 69%;
    height: 400px;
    margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.saletxt {
    padding-left: 29px;
    padding-top: 23.52px;
    display: flex;
}

.graphimg {
    padding-left: 29px;
    padding-top: 23.52px;
}

.weekly {
    margin-left: auto;
    margin-right: 20px;
    color: #ADADAD;
}

.monthly {
    margin-right: 20px;
    color: #ADADAD;
}

.yearly {
    margin-right: 16px;
    text-decoration :underline;
    position: relative;
    color: #C8242F;
}

.salesbycountry {
    width: 29%;
    height: 398px;
    margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.salescontrytxt {
    padding-left: 29px;
    padding-top: 23.52px;
}

.piegraph {
    padding-left: 50px;
}

.countriesname {
    display: grid;
    grid-template-columns: auto auto;
}

.usa img {
    width: 25px;
    height: 25px;
}

.canada img {
    width: 25px;
    height: 25px;
}

.russia img {
    width: 25px;
    height: 25px;
}

.india img {
    width: 25px;
    height: 25px;
}

.invoice {
    width: 100%;
    height: 558px;
    margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.invoicetxt {
    padding-left: 29px;
    padding-top: 22.52px;
    display: flex;
}

.viewall {
    margin-left: auto;
    margin-right: 29px;
    font: normal normal normal 15px/19px Roboto;
    color: #C8242F;
}

.invoicetable {
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 25px;
}

.tblhdr {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
}

.table {
    font: normal normal normal Roboto;
}

.mark-paid {
    background-color: #EBFFEF;
    color: #3CDD5F;
    border-radius: 5px;
}

.mark-failed {
    background-color: #FFF5F5;
    color: #FF4545;
    border-radius: 5px;
}

.mark-pending {
    background-color: #F8F8F8;
    color: #BABABA;
    border-radius: 5px;
}




/* ----------------------------------------------Inner Page Main Content CSS------------------------------- */

.analysisform {
    width: 1218px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.maintextanalis {
    padding-left: 29px;
    padding-top: 22px;
}

.txtboxfroneclm {
    padding-top: 15px;
    padding-left: 29px;
    padding-right: 30.5px;
}

.nametxtbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 100%;
}


.nametxtbox1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
    height: 130px;
    width: 100%;
}

.nametxtbox2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 49%;
}

.nametxtbox3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 32%;
}

.nametxtbox31 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 32%;
}

.nametxtbox41 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 24%;
}

.nametxtbox4 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 24%;
}

.btn {
    width: 124px;
    border-radius: 50px;
}


.nametxtbox51 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 5px;
    padding-left: 20px;
    height: 49px;
    width: 49%;
}

.btn1 {
    text-align: left;
    width: 49%;
    border-radius: 5px;
}

.minifont {
    font-size: 15px;
    padding-left: 30px;
    display: flex;
}

.minifont-danger {
    color: #ff0000;
}

.minifont-secondary {
    color: #aaaaaa;
}

