/*-------------------------------Login page ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.background {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background: #FAFAFA 0% 0% no-repeat;
    min-height: 100vh;

}

.login-form {
    width: min(429px, 100%);
}

.img {
    width: 100%;
    height: 100%;
    background: transparent url('img/Ellipse 2.png') no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border-radius: 50%;
    border: 20px solid #FFFFFF;
}

.headertext {
    height: 100%;
    font-size: 40px;
    font-weight: 300;
    color: #3E3E3E;
}

.logintxt {
    font-size: 25px;
    font-weight: 400;
    color: #3E3E3E;
}

.redtxt {
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    color: #C8242F;
}

.login-btn {
    background-color: #C8242F;
    border-radius: 20px;
    padding: 1% 5%;
    color: white;
    font-weight: 500;
    border: 0;
}

.forgotpass {
    padding-left: 10%;
    width: 100%;
    font-size: 15px;
    color: #ADADAD;
}

.mem {

    text-align: left;
    font-size: 15px;
    color: #ADADAD;
}

.registerhere {

    text-align: left;
    font-size: 16px;
    color: #C8242F;
}


/* ----------------------------------Responsive Login Page CSS--------------------------- */
@media (max-width:992px) {
    .headertext {
        font-size: 30px;
    }

    .redtxt {
        font-size: 30px;
        font-weight: 700;
    }
}

@media (max-width:600) {
    .headertext {
        font-size: 25px;
    }

    .redtxt {
        font-size: 25px;
        font-weight: 500;
    }
}


/* ----------------------------------Dashboard CSS--------------------------- */
/* .backgrow {
    background-color: #ffffff;
} */

.headerdashboard {
    padding-top: 1%;
    padding-bottom: 1%px;
    display: flex;
    display: inline;
    background-color: #ffffff;
}

.menubar {
    margin-left: 29px;
}

.logo {
    margin-left: 25px;
}

.smalllogo {
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

.searchicon {
    margin-left: 2%;
}

.input {
    margin-left: 1%;
    border-color: #FFFFFF;
}

.searchbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 20px;
}

.alarm {
    margin-left: auto;
    margin-right: 2%;
}

.profile {
    margin-right: .5%;

}

.name {
    margin-right: .5%;
}

.name a{
    color: #000000;
    text-decoration: underline white;
}

.arrow {
    margin-right: 2%;
}



/* --------------------------------------------------Left Menu Dashboard---------------------------------------- */

.afterheader{
    display: flex;
}


.lm {
    font-size: 15px;
    width: 260px;
    min-height: 100vh;
    height: 100%;
    align-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 2%;
    align-content: space-between;
    background-color: #ffffff;
}
.activemenu{
    color: #C8242F;
}
ul img {
    width: 25px;
    height: 25px;
}

ul a li img:hover {
    background-color: #ffffff;
}
ul a {
    text-decoration: none;
}

span {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 30px 10px 10px;
    color: #000000;
}

.list-unstyled {
    margin-left: 30px;
}


.list-unstyled a li {
    padding: 10px;
}

/* .list-unstyled a li {
    position: relative;
} */

.list-unstyled a li:hover {
    background-color: #FFF3F4;
    border-radius: 8px;
    color: #C8242F;
}
.list-unstyled a li span:hover {
    color: #C8242F;
}
.list-unstyled a li img:hover {
    background-color: #FFF3F4;
}




/* ------------------------------------------------------Main content-------------------------------------------- */
.main {
    margin-left: 2%;
    width: 80%;
}

.maintext {
    margin-top: 40.75px;
    font-size: 30px;
    color: #000000;
}
.boxes{
    padding:15px;
}
.box{
    width:200px;
    height: 90px;
    margin-right: 25px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}
.box .boxttext .boxname{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.box .boxttext .numbers{
    font-size: 28px;
    font-weight: 500;
    color: var(--text-color);
}

.box img{
    width: 34px;
    height: 34px;
}

/* .main .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .boxes .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 19%;
    padding: 15px 25px 15px 10px;
    background-color: #ffffff;
}

.box .boxtext{
    display: flex;
    flex-direction: column;
}

.box .boxttext .boxname{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.box .boxttext .numbers{
    font-size: 28px;
    font-weight: 500;
    color: var(--text-color);
}

.box img{
    width: 34px;
    height: 34px;
} */



.graphs {
}

.sales {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.saletxt {
}



.weekly {
    margin-left: auto;
    margin-right: 20px;
    color: #ADADAD;
}

.monthly {
    margin-right: 20px;
    color: #ADADAD;
}

.yearly {
    margin-right: 16px;
    text-decoration: underline 3px;
    text-underline-offset: 13px;
    position: relative;
    color: #C8242F;
}



.salesbycountry {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.salescontrytxt h4{
}

.piegraph {
}
.countriesname {
}

.usa img {
    width: 25px;
    height: 25px;
}

.canada img {
    width: 25px;
    height: 25px;
}

.russia img {
    width: 25px;
    height: 25px;
}

.india img {
    width: 25px;
    height: 25px;
}

.invoice {
    width: 100%;
    margin-top: 2%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.invoicetxt {
    padding-left: 29px;
    padding-top: 22.52px;
    display: flex;
}

.viewall {
    margin-left: auto;
    margin-right: 29px;

    font-size: 15px;
    font-weight: 500;
}

.viewalll {
    color: #C8242F;
    text-decoration: underline white;
}

.invoicetable {
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 25px;
}

.tblhdr {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
}

.table {
    font: normal normal normal Roboto;
}

.mark-paid {
    background-color: #EBFFEF;
    color: #3CDD5F;
    border-radius: 5px;
}

.mark-failed {
    background-color: #FFF5F5;
    color: #FF4545;
    border-radius: 5px;
}

.mark-pending {
    background-color: #F8F8F8;
    color: #BABABA;
    border-radius: 5px;
}


/* ----------------------------------------------Inner Page Main Content CSS------------------------------- */

.analysisform {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.maintextanalis {
    padding-left: 29px;
    padding-top: 22px;
}

.txtboxfroneclm {
    padding-top: 15px;
    padding-left: 29px;
    padding-right: 30.5px;
}

.nametxtbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    height: 49px;
}


.nametxtbox1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    height: 130px;
}

.nametxtbox2 {
    border-radius: 5px;
    height: 49px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
}

.nametxtbox3 {
    border-radius: 5px;
    height: 49px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
}


.nametxtbox4 {
    border-radius: 5px;
    height: 49px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
}

.btn {
    border-radius: 50px;
}
.btn2:hover{
    background-color: #86161d;
}
.btn3:hover{
    background-color: #ebebeb;
    border: #ebebeb;
    color: #000000;
}
.form-check-input:checked {
    background-color: #C8242F;
    border: 1px solid #C8242F;
}
.alert{
    border: 1px solid;
    display: flex;
    height: 40px;
    align-items: center;
}
.alert img{
    width: 30px;
    height: 30px;
}


.btn1 {
    text-align: left;
    width: 100%;
    border-radius: 5px;
    height: 49px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.minifont {
    font-size: 15px;
    display: flex;
}

.minifont-danger {
    color: #ff0000;
    margin-right: 18%;
}

.minifont-secondary {
    color: #aaaaaa;
}

.active{
    font-weight: 500;
    color: #C8242F;
    text-decoration: underline 3px #C8242F;
    text-underline-offset: 7px;
}
hr{
    margin-top: -5px;
}
.unactive{
    font-weight: 500;
    margin-left: -50px;
    color: #000000;
}